* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

body{
  background-color: #5b6e77;
}

ul{
  list-style: none;
}

.coinlist-image{
  width: 70px;
}

.coinlist-item{
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.delete-icon {
  display: none;
  position: relative;
  right: 5px;
}

.coin:hover .delete-icon {
  display: block;
}


.coin-data-category {
  font-size: 10px;
}